<!DOCTYPE html>
<html>

<head>
    <title>Reeda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename = 'css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-center" href="/">Reeda</a>
       
        <div><a class="btn btn-dark" href="/login">Login</a>
            <a class="btn btn-dark" href="/signup">Signup</a></div>
        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">All books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/about">About us</a>
                        <a class="dropdown-item" href="/privacy">Privacy Policy</a>
                        <a class="dropdown-item" href="terms">Terms and conditions</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
    <div class="container">
        <h1>{% block heading %}{% endblock %}</h1>
        <!-- <h2 class="text-center">Welcome</h2> -->

       
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}" type="text/javascript"></script> -->
    <!-- <script src="static/js/bootstrap.min.js.map" type="text/javascript"></script> -->
</body>

</html>

{% block body %}


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 class="masthead-brand"></h1>
      
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">About Reeda</h1>
    <p class="lead">Cover is a one-page template for Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam laudantium sit quos sequi amet voluptas dignissimos minima laborum! Quibusdam nulla ex molestiae quis expedita? Consectetur fuga qui consequuntur, sequi nesciunt ipsam non excepturi accusantium quidem voluptate, ratione quod mollitia voluptatem. Eligendi, sint quis eveniet tempore accusantium molestias totam vero et numquam quod minima quaerat, delectus adipisci dolores. Dolores labore modi, mollitia culpa laborum est reiciendis nemo hic facilis asperiores iste laudantium pariatur maxime velit quis iusto amet aut eos nulla enim delectus incidunt harum nesciunt. Aut vitae nisi eveniet! Non error aperiam dolore, et modi doloremque in quasi commodi? building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
    </div>
  </footer>
</div>
</body>
</html>
{% endblock %}