{% extends "layout.html" %}

{% block heading %}
<!-- First page (practicing template inheritance) -->
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h2 class="text-center">Reviews</h2>
        <!-- <h4 class="text-center">Reviews</h4> -->
    </div>

    <div class="col-md-12">
        <table class="table table-responsive table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Book title</th>
                    <th>Scale</th>
                    <th>Comment</th>
                    <!-- <th>Year of publication</th> -->
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr>
                    <td><a class="btn btn-xs btn-info" href="#">{{review.title}}</a></td>
                    <td><a class="btn btn-xs btn-success" href="#">{{review.scale}}</a></td>
                    <td><a class="btn btn-xs btn-success" href="#">{{review.comment}}</a></td>
                    
                </tr>

                
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- <a href="/logout">Logout</a> -->
</div>

{% endblock %}